<!doctype html>
<html>
<html lang="en">

<app-head-imports></app-head-imports>

<body class="fix-header fix-sidebar card-no-border">
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<!--<div class="preloader">-->
<!--  <div class="loader">-->
<!--    <div class="loader__figure"></div>-->
<!--    <p class="loader__label">EMP <span class="loader_label_span">Plus</span> </p>-->
<!--  </div>-->
<!--</div>-->
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
  <!-- ============================================================== -->
  <!-- Topbar header - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <header class="topbar">
    <app-nav-bar>
      <router-outlet></router-outlet>
    </app-nav-bar>
  </header>
  <!-- ============================================================== -->
  <!-- End Topbar header -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <aside class="left-sidebar">
    <app-side-bar></app-side-bar>
  </aside>
  <!-- ============================================================== -->
  <!-- End Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">

      <div class="row">


      </div>


    </div>

    <footer class="footer"> © 2020 Developed by Zega.com</footer>

  </div>

</div>


</body>
</html>
