<div class="container h-100">
  <div class="d-flex justify-content-center h-100">
    <div class="user_card">
      <div class="d-flex justify-content-center">
        <div class="brand_logo_container">
          <img src="assets/images/logimg.png"
               class="brand_logo" alt="Logo">
        </div>
      </div>
      <div class="d-flex justify-content-center form_container">
        <form method="post" (ngSubmit)="login()">
          <div class="input-group mb-3">

            <input type="text" name="username" [(ngModel)]="loginRecode.username" class="form-control input_user" value="" placeholder="Client No" autocomplete="off">
          </div>
          <div class="input-group mb-2">
            <input type="password" name="password" [(ngModel)]="loginRecode.password" class="form-control input_pass" value="" placeholder="password">
          </div>
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customControlInline" name="remember" [(ngModel)]="loginRecode.remember" [defaultChecked]="false">
              <label class="custom-control-label" for="customControlInline">Remember me</label>
            </div>
          </div>
          <div class="d-flex justify-content-center mt-3 login_container">
            <button class="btn login_btn">Login</button>
          </div>
        </form>
      </div>

      <app-invalide-msg *ngIf="!logIn"></app-invalide-msg>

      <div class="mt-4">
        <div class="d-flex justify-content-center links">
          Don't have an account? <a href="#" class="ml-2">Sign Up</a>
        </div>
        <div class="d-flex justify-content-center links">
          <a href="#">Forgot your password?</a>
        </div>
      </div>
    </div>
  </div>
</div>

