<div class="scroll-sidebar">
  <!-- Sidebar navigation-->
  <nav class="sidebar-nav">
    <ul id="sidebarnav">
      <li><a class="waves-effect waves-dark" href="/dashboarde" aria-expanded="false"><i
        class="fa fa-tachometer"></i><span class="hide-menu">Dashboard</span></a>
      </li>
      <li>
<!--        <a class="waves-effect waves-dark" href="/company-profile?navName=Company-Profile" aria-expanded="false">-->
        <a class="waves-effect waves-dark" href='/company-profile' aria-expanded="false">
          <i
        class="fa fa-user-circle-o"></i><span class="hide-menu">CompanyProfile</span></a>
      </li>

      <li><a class="waves-effect waves-dark" href="/workers" aria-expanded="false"><i
        class="fa fa-smile-o"></i><span class="hide-menu">Workers</span></a>
      </li>
      <li><a class="waves-effect waves-dark" href="/sites" aria-expanded="false"><i
        class="fa fa-globe"></i><span class="hide-menu">Sites</span></a>
      </li>
      <li><a class="waves-effect waves-dark" href="/time-sheets" aria-expanded="false"><i
        class="fa fa-table"></i><span class="hide-menu">Time-Sheets</span></a>
      </li>
      <li><a class="waves-effect waves-dark" href="/payments" aria-expanded="false"><i
        class="fa fa-bookmark-o"></i><span class="hide-menu">Payments</span></a>
      </li>
      <li><a class="waves-effect waves-dark" href="/notifications" aria-expanded="false"><i
        class="fa fa-question-circle"></i><span class="hide-menu">Notifications</span></a>
      </li>
    </ul>
  </nav>
  <!-- End Sidebar navigation -->
</div>
<!-- End Sidebar scroll-->
