<!doctype html>
<html>
<html lang="en">

<app-head-imports></app-head-imports>

<body class="fix-header fix-sidebar card-no-border">


<div id="main-wrapper">
  <header class="topbar">
    <app-nav-bar>
      <router-outlet></router-outlet>
    </app-nav-bar>
  </header>
  <aside class="left-sidebar">
    <app-side-bar></app-side-bar>
  </aside>
  <div class="page-wrapper">
    <div class="container-fluid">


      <!--      //pagebody-->

      <div class="row">
        <div class="" id="sales-chart" style="height: 0px;" hidden></div>





      </div>
    </div>
    <footer class="footer"> © 2020 Developed by Zega.com</footer>
  </div>
</div>


</body>
</html>
